:root {
	font-size: 16;

}

@font-face {
	font-family: 'AvantGarde';
	src: url(fonts/AvantGarde-Bold.188068d1.otf);
}

@font-face {
	font-family: 'SourceSansPro';
	src: url(fonts/SourceSansPro-Regular.770ca066.ttf);
}


h1 {
	font-family: 'AvantGarde';

}

p {
	font-family: 'SourceSansPro';

}

body {
	background-color: #010101;
	color: white;
	margin: 0;
	padding: 0;
}

body::-webkit-scrollbar {
	width: 0.25rem;
}

body::-webkit-scrollbar-track {
	background: #010101;
}

body::-webkit-scrollbar-thumb {
	background: #df355a;
}

main {
	margin-left: 5rem;
	padding: 1rem;
}

.title {
	padding-top: 0;
	display: flex;
	

}

.title h1 {

}

.title p {
	padding-left: 1rem;
	display: flex;
	width: 18%;
}

.navbar {
	width: 5rem;
	height: 100vh;
	position: fixed;
	background-color: #010101;
	border-style: none solid none none;
	border-color: #df355a;
	text-align: center;
}

.navbar-nav {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;
}

.nav-item {
	width: 100%;
	margin-top: 2rem;

}

.nav-link img {
	min-width: 2rem;
	width: 3rem;

}



.nav-item:last-child {
	margin-top: auto;
	margin-bottom: 2rem;
}

.nav-link img:hover {
	background: #df355a;
	transition: 500ms ease;
}



